{% extends 'nav-page.html' %}
{% block title %}
我的工作
{% endblock %}
{% block content %}

    <div class="container">
        <div class="page-header">
            <h1 style="margin-top: -30px">我的工作事项
                <small>Manufacturing Center</small>
            </h1>
        </div>
        <div class="col-md-8">
            {% for work_content in main_info.work_contents %}
                <div class="well well-lg">
                    <h3 ><span class="mywork_title">{{ work_content.work_title }}</span> <span class="mywork_id" style="display: none">{{ work_content.work_id }}</span>
                        <small>{{ work_content.work_main }} <span style="font-size: small">{{ work_content.sub_response }}</span> </small>
                    </h3>
                    <blockquote>
                        {% for work_detail in work_content.work_detail_list %}
                            <p style="padding-top: 12px" class="work_detail_item">{{ work_detail.work_detail_content }}</p>
                            <span class="work_detail_id" style="display: none">{{ work_detail.work_detail_id }}</span>
                            <footer><cite title="Source Title">{{ work_detail.work_detail_update_time }} 更新</cite></footer>
                        {% endfor %}
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" style="float: right;margin-top: 15px;margin-right: -30px;font-size: 12px;"  onclick="delete_last_work(this);">删除</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2" data-whatever="@mdo" style="float: right;margin-top: 15px;margin-right: 10px;font-size: 12px;">修改</button>
        <button type="button" class="btn btn-primary update_mywork" data-toggle="modal" data-target="#exampleModal1" data-whatever="@mdo" style="float: right;margin-top: 15px;margin-right: 10px;font-size: 12px;">新增进度</button>

                    </blockquote>
                {% if work_content.work_status %}
                <p style="float: right;color: green">办结</p>
                    {% else %}
                    <p style="float: right;color: red;font-size: large">尚未办结</p>
                {% endif %}

                </div>
            {% endfor %}


        </div>
      {% csrf_token %}
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    <p>Panel content</p>
                    <p>Panel content</p>
                    <p>Panel content</p>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    <p>Panel content</p>
                    <p>Panel content</p>
                    <p>Panel content</p>
                </div>
            </div>

        </div>
    </div>

{#按钮模态对话框部分#}
{#        1.新增工作进度#}
    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">New message</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="control-label">工作项目:</label>
            <input type="text" class="form-control work_item" id="recipient-name" disabled="disabled">
              <input type="text" class="my_work_id_input" style="display: none">
          </div>

          <div class="form-group">
            <label for="message-text" class="control-label">进度:</label>
            <textarea class="form-control detail_work_content" id="message-text" placeholder="更新进度"></textarea>
          </div>
              <div class="form-group">
            <label for="message-text" class="control-label">是否办结:</label>
              <select name="status" class="form-control" id="id_status">
  <option value="True" class="yes_select">是</option>
  <option value="False" class="no_select">否</option>
</select>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary save_update" onclick="uploda_data();">保存</button>
      </div>
    </div>
  </div>
</div>


{#    2.编辑#}
        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">New message</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="control-label">工作项目:</label>
            <input type="text" class="form-control" id="recipient-name">
              <input type="text" class="my_work_id_input_change"  style="display: none">
          </div>

          <div class="form-group">
            <label for="message-text" class="control-label">进度:</label>
           <textarea class="form-control detail_work_content_change" id="message-text"></textarea>
              <input type="text" class="my_detail_work_id_input" style="display: none">
          </div>

              <div class="form-group">
            <label for="message-text" class="control-label">是否办结:</label>
                         <select name="status" class="form-control" id="id_status_change">
  <option value="True" class="yes_select">是</option>
  <option value="False" class="no_select">否</option>
</select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" onclick="upload_data_change();">保存</button>
      </div>
    </div>
  </div>
</div>



{% endblock %}

{% block js %}
    <script>
    $('#exampleModal1').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget); // Button that triggered the modal
{#  获取更新工作按钮所在界面的工作内容#}
{#  将工作项目添加到data-whatever中#}
        button.attr('data-whatever',button.parent().prev().find('.mywork_title').text());
{#  var recipient = button.data('whatever'); // Extract info from data-* attributes#}
        var recipient = button.attr('data-whatever'); // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this);
  modal.find('.modal-title').text('新增工作进度 ');
  modal.find('.modal-body input').val(recipient);
{#获取工作项目id#}
{#  将工作项目id写入input框中#}
        modal.find('.my_work_id_input').val(button.parent().prev().find('.mywork_id').text());
{#  将是否办结写入到蒙版中#}
        console.log(button.parent().next().text());
        if (button.parent().next().text()=='尚未办结'){
             modal.find('.no_select').attr('selected',true);
        }else { modal.find('.yes_select').attr('selected',true);}
});
    $('#exampleModal2').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget); // Button that triggered the modal
            button.attr('data-whatever',button.parent().prev().find('.mywork_title').text());
  var recipient = button.attr('data-whatever'); // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.

  var modal = $(this);
  modal.find('.modal-title').text('修改工作进度 ');
  modal.find('.modal-body input').val(recipient);
  {#  将工作项目id写入input框中#}
        modal.find('.my_work_id_input_change').val(button.parent().prev().find('.mywork_id').text());
{#  将是否办结写入到蒙版中#}
    if (button.parent().next().text()=='尚未办结'){
             modal.find('.no_select').attr('selected',true);
        }else { modal.find('.yes_select').attr('selected',true);}
  {#          将页面内容添加到input框中#}
 modal.find('.my_detail_work_id_input').val(button.prevAll().eq(2).text());
  modal.find('.detail_work_content_change').val(button.prevAll().eq(3).text());

});
    function uploda_data() {
        $.ajax({
            url:'/upgrate_mywork/{{ subtitle }}/',
            type:'POST',
            data:{'work_id':$('.my_work_id_input').val(),'detail_work_content':$('.detail_work_content').val(),'status':$('#id_status').val(),'csrfmiddlewaretoken':$('input[name="csrfmiddlewaretoken"]').val()},
{#            dataType:'JSON',#}
            success:function (args) {
                console.log('---it is ok');
                console.log(args);
            }

        });
        location.reload();
{#        location.href=$('.mywork_url').attr('href');#}
{#        console.log($('.mywork_url').attr('href'));#}
    }
    function upload_data_change() {
        $.ajax({
            url:'/change_mywork/{{ subtitle }}/',
            type:'POST',
            data:{'work_id':$('.my_work_id_input_change').val(),'detail_work_id':$('.my_detail_work_id_input').val(),'detail_work_content':$('.detail_work_content_change').val(),'status':$('#id_status_change').val(),'csrfmiddlewaretoken':$('input[name="csrfmiddlewaretoken"]').val()},
            success:function (args) {
                console.log('---it is ok');
                console.log(args);
            }

        });
        location.reload();
    }
function delete_last_work(button) {
       $.ajax({
            url:'/delete_mywork/{{ subtitle }}/',
            type:'POST',
            data:{'detail_work_id':$(button).prevAll().eq(1).text(),'csrfmiddlewaretoken':$('input[name="csrfmiddlewaretoken"]').val()},
            success:function (args) {
                console.log('---it is ok');
                console.log(args);
            }
        });
        location.reload();
}


    </script>
{% endblock %}