<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.css">
</head>
<body style="background-image: url('/static/pictures/background.jpg')">

<div style="margin-top: 200px;width: 800px;margin-left:460px">
 <div style="margin-top: -20px">
  <h1>用户已经注册  请<a href="/login/">登录</a> <small>Manufacturing Center</small></h1>
</div>
    

</div>

<div class="container" style="height: 40px;line-height: 30px;position: relative;top: 270px;">
    <div class="col-md-4"></div>
    <div class="col-md-8" style="color: white">Copyright © 2017 - 2018 Zhu.GF 版权所有  |  <a href="/register/">注册</a>  </div>
</div>


</body>
</html>